/* Put your CSS here */
html, body {
    margin: 0;
}
body {
    background: url("../images/city.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}

header {
    width: 960px;
    margin: 0 auto;
}
    .logo {
        width: 237px;
        margin: 10px auto;
    }

#qrcode {
    width: 250px;
    margin: 50px auto;
}
.player, .cont {
    width: 960px;
    margin: 50px auto;
}